node_modules
.pnpm-store
coverage
.env
.env.*
!.env.example
!apps/web/.env.example
!infra/deploy/.env.production.example
.dist
.local
.DS_Store

apps/web/dist
apps/web/.angular

**/bin
**/obj

src/backend/**/appsettings.Local.json
src/backend/**/firebase-service-account.json

.vscode
.idea
