services:
  - type: web
    name: notification24-api
    env: docker
    plan: free
    autoDeploy: true
    dockerfilePath: ./Dockerfile
    healthCheckPath: /
    envVars:
      - key: ASPNETCORE_ENVIRONMENT
        value: Production
      - key: DOTNET_ENVIRONMENT
        value: Production
      - key: ConnectionStrings__Postgres
        fromDatabase:
          name: notification24-postgres
          property: connectionString
      - key: Database__ApplyMigrationsOnStartup
        value: "false"
      - key: Worker__Enabled
        value: "true"
      - key: Firebase__ProjectId
        sync: false
      - key: Firebase__ServiceAccountJson
        sync: false
      - key: InternalApi__Key
        sync: false
      - key: Seed__AdminUserName
        value: admin
      - key: Seed__AdminEmail
        value: admin@notification24.local
      - key: Seed__AdminFirebaseUid
        sync: false
      - key: Cors__AllowedOrigins__0
        sync: false
      - key: RabbitMq__HostName
        sync: false
      - key: RabbitMq__Port
        value: "5672"
      - key: RabbitMq__UserName
        sync: false
      - key: RabbitMq__Password
        sync: false
      - key: RabbitMq__VirtualHost
        sync: false

databases:
  - name: notification24-postgres
    plan: free
    databaseName: notification24
    user: notification24
